.rodape {
        display: flex;
        justify-content: space-around;
        padding: 2em 5em;
        background-color: var(--Branco);
        color: var(--Preto);
        
    }

    .lista-rodape{
        display: none;
    }

    
    
    @media screen and (min-width: 1024px){
        .rodape{
            display: flex;
            justify-content: space-around;
        }
        .lista-rodape{
        display: block;
    }

        .lista-rodape__item{
            display: flex;
            align-items: center;
            margin: 0.6em;
        }
        
        .lista-rodape__link{
            color: var(--cinza);
            text-decoration: none;
            margin: 0.2em;
        }

        .lista-rodape__titulo{
            font-size: 14px;
            color: var(--cinza-claro);
        }

        .rodape__titulo{
            font-size: 24px;
        }
    }

    
    @media screen and (min-width: 1024px){
        .rodape {
        margin: 0 auto;
        padding: 3em 2em;
        }
    }

        .lista-rodape{
            border-left: 1px solid var(--cinza-claro);
            padding-left: 1em;
        }

        .rodape{
            padding: 1em 0;
        }

        .rodape__lista__titulo h3 {
            margin-top: 10px; /* ajuste o valor como quiser */
}
    