@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("preferidos.css");
@import url("topicos.css");
@import url("contato.css");
@import url("footer.css");


:root {
    --Cor-de-fundo: #3f4146;
    --Branco: #ffffff;
    --Preto: #000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --laranja: #eb9b00;
    --azul: #002f52;   
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";    
}  

body{
    background-color: var(--Cor-de-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-size:16px;
    font-weight: 400;

}

